*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 300px;
    align-items: center;
    justify-content: center;
}

header>h1{
    font-size: 7em;
    font-weight: 900;
    font-variant: small-caps;
}

header p{
    text-decoration: none;
    font-size: 20px;
    margin-top: 25px;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}



footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

.imagem{
    background-color: rgb(50, 49, 49);
    color: white;
}

.normal{
    background-color: white;
    color: black;
}

section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.211);
    width: 400px;
}